
body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}


.calc-container {
  width: 320px;
  padding: 25px;
  border-radius: 15px;
  background: #1e1e1e;
  color: white;
  text-align: center;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.5);
}


.calc-container h2 {
  margin-bottom: 20px;
}

.calc-container input {
  width: 85%;
  padding: 12px;
  margin: 10px 0;
  font-size: 17px;
  border-radius: 8px;
  outline: none;
  border: none;
}

/* Button group */
.btn-group {
  margin-top: 15px;
}

/* Operation buttons */
.btn-group button {
  width: 60px;
  height: 45px;
  margin: 5px;
  font-size: 22px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #3a3a3a;
  color: white;
  transition: 0.3s;
}

.btn-group button:hover {
  background: #00c3ff;
  transform: scale(1.05);
}


.result {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
}
